@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.container{
    
    display:flex;
    gap: 10px;
    flex-wrap:wrap;
}

.name{
    flex: 1 0 120px;
    height: 5vh;

}
.email{
    flex: 1 0 150px;
    height: 5vh;
}

.container button{
    flex: 1 0 60px;
    height: 5vh;
}

.container button:hover {
  display: block;
  filter: drop-shadow(0 0 10px #fffdef);
  color: rgb(122, 132, 132);
  font-weight: 800;
}